/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Rubik', sans-serif;
}

a:link, a:visited,  a:hover, a:active {
    color: #1A1E21;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #1A1E21;
}

p {
    color: #808080;
}

.mobile-disable {
    display: inherit !important;
}

/* HEADER */
.header {
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 5px 20px 0px #1a1e211c;
    transition: opacity 450ms ease;
}

.header.sticky-default {
    top: 0;
    width: calc(100% - 60px);
    position: fixed;
}

.header.sticky-hide {
    opacity: 0;
    top: 0;
    width: calc(100% - 60px);
    position: fixed;
    -webkit-animation: slideInUp  450ms 1 ease-in-out; 
}

.header.sticky {
    top: 0;
    width: calc(100% - 60px);
    position: fixed;
    -webkit-animation: slideInDown  450ms 1 ease-in-out; 
}

@-webkit-keyframes slideInUp {
    from {transform: translate(0%, 0%); }
    to {transform: translate(0%, -100%); }
}

@-webkit-keyframes slideInDown {
    from {transform: translate(0%, -100%); }
    to {transform: translate(0%, 0%); }
}

.header.sticky + .wrapper, .header.sticky-hide + .wrapper, .header.sticky-default + .wrapper {
    padding-top: 60px;
}

.header > .container {
    height: 40px;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

/* HEADER LOGO */
.header a .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    height: 100%;
    width: 135px;
    float: left;
}

/* HEADER MENU */
.header .header-nav {
    width: 70%;
}
.header ul.header-menu {
    list-style: none;
    float: left;
    margin: 0 0 0 30px;
    padding: 0;
}

.header ul.header-menu li {
    float: left;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 5px;
}

.header ul.header-menu li.active a {
    color: #208FBC;
}

.header ul.header-menu > li > a {
    color: #1A1E21;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    transition: all .3s ease;
}

.header ul.header-menu li.active a::after {
    width: 100%;
}

.header ul.header-menu > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #237a9c;
    transition: width .3s;
    margin: 0 auto;
}

.header ul.header-menu > li.active > a:hover {
    color: #237a9c !important;
}

.header ul.header-menu > li > a:hover::after {
    width: 100%;
}

.header ul.header-menu > li > a:hover {
    color: #208FBC !important;
}

/* HEADER LINKS */
.header-links {
    margin-left: auto;
    float: right;
    line-height: 40px;
}

.header-links a:hover {
    background: #17191b;
}

.header-links a.colored:hover {
    background: #1e86af;
}

.header-links a.colored {
    background: #208FBC;
    color: #F5F5F5;
}

.header-links a {
    background: #1A1E21;
    color: #F5F5F5;
    padding: 10px 30px;
    margin: 0 5px;
    border-radius: 7px;
}

#menu-close {
    display: none;
}

.header-bs.mobile-disable {
    display: inherit !important;
}

#mobile-nav-toggle {
    display: none;
    cursor: pointer;
}

/* CONTENT WRAPPER */
.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 70px auto 80px auto;
    min-height: calc(100vh - 290px);
}

/* FOOTER */
.footer {
    color: #A5A5A5;
    background: #1A1E21;
    height: 20px;
    padding: 30px 30px;
}

.footer .copyright {
    text-align: center;
}